<!DOCTYPE html>
    <head>
        <title>Page not found</title>
      <link rel="stylesheet" type="text/css" href="/css/style.css">
    </head>
<html>
<body>

    <div class="main-content">
            {{>header}}
            <h2>{{errorMessage}}</h2>

        </div>
        {{>footer}}
    
   
    
</body>
