<html>
    <head>
      <title>about</title>
            <link rel="stylesheet" type="text/css" href="/css/style.css">
          <style>
            p{
              text-decoration: blanchedalmond;
            }
          </style>
       
    </head>
    <body>
      <div class="main-content">
            {{>header}}
           <b><p style="font-family: cursive;font-size:x-large;">This Web app is created by Aniket Kumar Pandey</p></b></b>
          <b> <p style= "font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif font-size:small;">It Uses Mapbox Api for fetching latitude and longitude from entered location and Darksky Api for fetching weather data</p></b> 
            <img class="portrait" src="/img/photo.jpg"></body>

        </div>
    
          {{>footer}}
</html>