<html>
    <head>
      <title>about</title>
            <link rel="stylesheet" type="text/css" href="/css/style.css">
       
    </head>
    <body>
      <div class="main-content">
            {{>header}}
            <img class="portrait" src="/img/photo.jpg"></body>

        </div>
    
          {{>footer}}
</html>