<html>
    <head>
        <title>help</title>
       <link rel="stylesheet" type="text/css" href="/css/style.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}

        </div>
        {{>footer}}
    </body>
</html>